body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.item{
    background-color: grey;
    outline: 1px solid;
    min-width: 100px;
    min-height: 100px;
    box-sizing: border-box;
}

.grid-container{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.item1{
    grid-column: span 12;
    background-color: antiquewhite;
}
.item2{
    grid-column: span 4;
    background-color: rgb(210, 155, 83);
}
.item3{
    grid-column: span 4;
    background-color: rgb(89, 133, 72);
}
.item4{
    grid-column: span 4;
    background-color: rgb(225, 164, 83);
}
.item5{
    grid-column: span 6;
    background-color: rgb(255, 165, 48);
}
.item6{
    grid-column: span 6;
    background-color: rgb(47, 226, 197);
}

.item7{
    grid-column: span 12;
    background-color: rgb(83, 255, 15);
}

