body {
  margin: 0;
  padding: 0;
}




@media all and (max-width: 750px ) {

  html{
    font-size: 40%;
  }
  

  main ul{
    justify-content: start
  }
  .meals-list li:not(li:first-child){
    display: none;
  }

  section.order ul li:first-child::before{
    width: 50px;
  }

  .left-bg{
    display: none;
  }

  .about-contents{
    padding: 20px;
  }


  nav ul li:nth-child(even){
    display: none;
  }

  header nav ul{
    justify-content: start; 
  }

  .image-container{
    grid-template-columns: 1fr
  }

}

@media all and (max-width: 850px) and (min-width: 751px){

  html{
    font-size: 62.5%;
  }
  .about-contents{
    padding-right:20px; 
   }

   header nav ul{
    justify-content: end;
   }

   main ul{
    justify-content: space-between
  }


   .image-container{
    grid-template-columns:  repeat(5, 1fr);
   }

   section.order ul li:first-child::before{
    width: 100px;
   }


}

@media all and (min-width: 851px) {

  html{
    font-size: 62.5%;
  }

  .about-contents{
    padding-right:30%; 
   }

   header nav ul{
    justify-content: end;
   }

   main ul{
    justify-content: space-between
  }

   .image-container{
    grid-template-columns:  repeat(5, 1fr);
   }

   section.order ul li:first-child::before{
    width: 100px;
   }

 
   
}


header {
  background-image: url(./images/header-background.jpg);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain;
  background-color: #f5f6f8;
}

header nav ul {
  display: flex;
  list-style: none;

  margin: 0;
  margin-right: 60px;
  padding: 30px;
  gap: 30px;
}

header nav ul li a {
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  font-size: 1.6rem;
  transition: 0.1s;
}

header nav ul li a:hover {
  color: #ff8800;
}

header nav ul li a i {
  font-size: 2rem;
  font-weight: lighter;
}

header {
  height: 450px;
  overflow: hidden;
}

header main {
  width: 350px;
  padding-left: 10%;
}

header main h1 {
  font-size: 5rem;
}

.search {
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  box-shadow: -3px 5px 10px 5px rgba(0, 0, 0, 0.154);
}

.search input {
  outline: none;
  border: none;
  background-color: transparent;
  caret-color: #ff8800;
  font-size: 1.6rem;
}



.search .input {
  padding: 10px;
}

.search-btn {
  background-color: #ff8800;
  display: grid;
  align-items: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0px 15px;
}

.search-btn select {
  outline: none;
  border: none;
  background-color: transparent;
  color: white;
}

.search-btn select option{
    color: black;
    
}


main ul{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    display: flex;
   
}

main ul li i{
    color: #ff8800;
    margin: 8px;
    font-size: 2.2rem;
}

main ul li {
  font-size: 1.6rem;
}


.about{
  display: flex;
  height: 600px;
  background-image: url(images/bowl.jpg);
  background-position: right bottom;
  background-repeat: no-repeat;
}



h5{
  color: #ff8800;
  font-family: sans-serif;
  font-size: 2rem;
}

.about h2{
  font-size: 5rem;
  margin-top: 0;
}



.about-contents p{
  text-align: justify;
  font-size: 1.6rem;
}

.discover-btn{
  text-decoration: none;
  background-color: #ff8800;
  color: white;
  padding: 10px 0px 10px 20px;
  border-radius: 5px;
  font-size: 1.6rem;
}

.discover-btn i{
  background-color: #FFAA4D;
  padding: 10px; 
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}


section.order{
  text-align: center;
  background: linear-gradient(45deg, #F2F6F7, #f2f6f7b9);
  padding: 10px;
}


section.order h2{
  font-size: 3.5rem;
}


section.order ul{
  position: relative;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 40px;
  font-size: 2rem;
}


section.order ul li:hover{
  cursor: pointer;
}


section.order ul::before{
  content: "";
  position: absolute;
  width:34%;
  height: 2px;
  bottom: -2px;
  background-color: #f5f6f8;
}

section.order ul li:first-child{
  color: #ff8800;
}

section.order ul li:first-child::before{
  content: "";
  position: absolute;
 
  height: 2px;
  bottom: -2px;
  background-color: #ff8800;
}

.image-container{
  display: grid;

 row-gap: 20px;
 justify-items: center;
 align-items: center;


}


.image-container img:hover .overlay{
  cursor: pointer;
  display: grid;
}
.image{
  position: relative;
}
.image:hover .overlay{
  display: grid;
}

.overlay{
  display: none;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.556);
  position: absolute;
  top: 0;
  width: 100%;
  height: 98.5%;
  color: white;
  transition: 0.2s;
  box-sizing: border-box;
}

.overlay h3{
  font-size: 3rem;
  margin-bottom: 10px;
}

.overlay h4{
  font-size: 2rem;
  margin: 10px;
}

.overlay .stars i{
  color: #FFAF51;
}

.overlay .order-btn{
  padding: 10px 25px;
  border: none;
  outline: none;
  background-color: #ff8800;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}


.book-table{
  text-align: center;
  padding: 50px;
  background-image:linear-gradient(to right, #E4E8ED,#FBFCFC  );
}

section.image-slider img{
  max-width: 60%;
  height: auto;
}


.book-table h2{
  font-size: 4rem;
  margin-top: 0;
}

.call i{
  padding: 15px;
  border: 1px solid #ff8800;
  color: #ff8800;
  font-size: 2.5rem;
  border-radius: 50%;
}

.call p{
  color: black;
}

.call{
    font-size: 2rem;
    color: #ff8800;
    font-family: sans-serif;
}

.days{
  display: flex;
  justify-content: space-between;
  padding: 10px 20%;
}

.days h5{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.days h4{
  margin: 5px;
  font-size: 2rem;
}

.image-slider{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.image-slider i{
  border: 1px solid #ff8800;
  padding: 8px 10px;
  border-radius: 50%;
  color: #ff8800;
}

.testimonial{
  text-align: center;
  padding: 50px;
  display: grid;
  place-items: center;
  background-image: linear-gradient(to right, #E4E8ED,#FBFCFC );
}

.testimonial h2{
  font-size: 4.5rem;
  margin-top: 0;
}

.testimonial h5{
  margin: 0;
  font-size: 2rem;
}

.testimonial img{
  width: 80px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.name{
  margin: 0;
  font-size: 2rem;
}

.position{
  margin: 0;
  margin-bottom: 15px;
  font-size: 1.6rem;
}

.testimonial .stars i{
  font-size: 1.6rem; 
  color: #FFAF51;
  margin-bottom: 10px;
}

.testimonial q{
  width: 70%;
  align-self: center;
  font-style: italic;
  font-size: 1.6rem;
}